@model AdminViewModel

<h3>Delete admin</h3>
<hr />
<h4>Are you sure you want to delete @Model.FirstName @Model.LastName - @Model.Username?</h4>

<form asp-action="Delete">
    <input type="hidden" asp-for="AdminId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
