@model CourseViewModel

<h3>Delete course</h3>
<hr />
<p>Are you sure you want to delete @Model.Name?</p>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="CourseId" />
    <input type="submit" value="Delete" class="btn btn-primary" />
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
