@model CourseDetailsViewModel

<h3>@Model.Name</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-3">
            <div>
                @Html.DisplayFor(model => model.SubjectName)
                @Html.DisplayFor(model => model.DegreeName)
                @Html.DisplayFor(model => model.SemesterName)
            </div>
        </div>
        <div class="col-9">

        </div>
    </div>
</div>