@model EnrollmentDetailsViewModel

<h3>Delete enrollment</h3>
<hr />
<p>Are you sure you want to delete enrollment - @Model.StudentUsername @Model.CourseName?</p>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="EnrollmentId" />
    <input type="submit" value="Delete" class="btn btn-primary" />
    <a asp-action="Courses" class="btn btn-primary">Cancel</a>
</form>
